parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - vendor/*
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkMissingCallableSignature: true
    treatPhpDocTypesAsCertain: true
